$light-color: #BBBBBB;
$dark-color:#707070;
$button-color: #608FFC;
$button-border:#3469E5;
$button-text: white;
$font: Segoe UI;
$font-size: 26px;
$heading-size: 48px;

body {
	font-family: $font, sans-serif;
	font-size: $font-size;
	color: $dark-color;
	padding: 20px;
}

// lapā centrē bloku
.center{
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

// index.html un rate.html galvenā bloka lielums un novietojums
.block_form {
    max-width: 828px;
    width: 50%;
    height: 50%;
    @extend .center
}


// virsrakstu formatējums
.heading {
	font-size: $heading-size;
	padding: 0px 0px 0px 32px;
}

// apakšvirsrakstu formatējums
.sub-heading {
    padding: 0px 82px 0px 0px;
}

// formatē tekstu bold un italic
.bold-italic{
	font-weight: bold;
	font-style: italic;
}

// p elementa formatējums
p {
    margin: 24px 0px;
}

// formatējums div, kas ietver ievades laukus
.input-block {
	display: flex;
	width: 100%;
	min-width: 400px;
	height: 48px;
	margin: 24px 0px;
    justify-content: space-between;
    align-items: center;
}
// input un textarea formatējums
input, textarea {
    display: inline-flex;
	box-sizing: border-box;
	padding: 0px 0px 0px 12px;
	margin: 12px;
	height: 100%;
	width: 100%;
	font-family: $font;
	font-size: $font-size;
	border-radius: 7px;
	border-width: 2px;
    border-color: $dark-color;
}

// formatējums div, kas ietver vērtējuma ievades lauku
.rating-input {
    width: 72px;
    padding: 2%;
    text-align: center;
}

// vērtējuma ievades lauka formatējums
.rating {
    justify-content: left;
    min-width: none;
    width: 90%;
}

// Ievadlauku placeholder formatējums
input::placeholder, textarea::placeholder {
    font: $font-size $font;
    color: $light-color;
}

// idejas apraksta ievadlauka formatējums
.description {
    height: 192px;
    text-align: start;
}

// pogu formatējums
input[type=submit],input[type=button]{
    width: 208px;
    min-width: 124px;
	padding: 0px 0px 0px 0px;
	justify-content: center;
	color: $button-text;
	background-color: $button-color;
	border-color: $button-border;

    :hover {
        cursor: pointer;
    }
}

// tabulas līniju formatējums
$table-border: 2px solid $dark-color;

// tabulas formatējums
table {
    border: $table-border;
    border-color: $dark-color;
    border-collapse: collapse;
    border-spacing: 0;
    height: 48px;
    width: 98.3%;
    margin: 12px;
    padding: 0px 0px 0px 12px;
}

// tabulas datu formatējums
td {
    padding: 6px;
}

// novieto līniju zem pirmās tabulas rindas
tr:first-of-type {
    td {
        font-weight: bold;
        border-bottom: $table-border;
    }
}