html {
  width: 100%;
}

body {
  max-width: 100%;
  overflow-x: hidden;
  font-family: Segoe UI, sans-serif;
  font-size: 26px;
  color: #707070;
  margin: 0;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #608FFC;
  padding: 0.5rem 7.5%;
}
.nav .site-title {
  font-size: 1.5rem;
  color: white;
  text-decoration: none;
}
.nav ul {
  display: flex;
  flex-direction: row;
  margin: 0;
}
.nav ul li {
  list-style: none;
  margin-left: 1rem;
}
.nav ul li a {
  border-radius: 5px 5px 0px 0px;
  color: white;
  text-decoration: none;
  padding: 0.5rem;
}
.nav ul li a:hover {
  color: white;
  background-color: #3469E5;
}

.center, .block-form {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.block-form {
  max-width: 828px;
  width: 50%;
  height: 50%;
}

.block-table {
  position: absolute;
  display: block;
  margin: 10px 7.5%;
  width: 85%;
  height: 90%;
}

.heading {
  font-size: 48px;
  padding: 0px 0px 0px 32px;
}

.sub-heading {
  padding: 0px 82px 0px 0px;
}

.bold-italic {
  font-weight: bold;
  font-style: italic;
}

p {
  margin: 24px 0px;
}

.input-block {
  display: flex;
  width: 100%;
  min-width: 400px;
  height: 48px;
  margin: 24px 0px;
  justify-content: space-between;
  align-items: center;
}

button[type=submit], input, textarea {
  display: inline-flex;
  box-sizing: border-box;
  padding: 0px 0px 0px 12px;
  margin: 12px;
  height: 100%;
  width: 100%;
  font-family: Segoe UI;
  font-size: 26px;
  border-radius: 7px;
  border-width: 2px;
  border-color: #707070;
}

.rating-input {
  width: 72px;
  padding: 2%;
  text-align: center;
}

.rating {
  justify-content: left;
  min-width: none;
  width: 90%;
}

input::-moz-placeholder, textarea::-moz-placeholder {
  font: 26px Segoe UI;
  color: #BBBBBB;
}

input::placeholder, textarea::placeholder {
  font: 26px Segoe UI;
  color: #BBBBBB;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type=number] {
  -moz-appearance: textfield; /* Firefox */
}

.description {
  height: 192px;
  text-align: start;
}

input[type=submit], input[type=button], button[type=submit] {
  width: 208px;
  min-width: 124px;
  padding: 0px 0px 0px 0px;
  justify-content: center;
  color: white;
  background-color: #608FFC;
  border-color: #3469E5;
  cursor: pointer;
}

.popup-screen {
  z-index: 99999;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.1);
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
  width: 102%;
  height: 100%;
  visibility: hidden;
}

.visible {
  visibility: visible;
}

.icon-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cross {
  height: 34px;
  position: relative;
  cursor: pointer;
  margin-left: auto;
}

.icon {
  height: 38px;
  position: relative;
  cursor: pointer;
}

.table-input {
  margin: 0%;
}
.table-input:first-of-type {
  margin-right: 12px;
}

table {
  table-layout: fixed;
  border: 2px solid #707070;
  border-color: #707070;
  border-collapse: collapse;
  border-spacing: 0;
  height: 48px;
  width: 100%;
}

td, th {
  padding: 6px 16px;
}

th {
  text-align: left;
  font-weight: bolder;
  border-bottom: 2px solid #707070;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
th:nth-of-type(1) {
  width: 50%;
}
th:nth-last-of-type(-n+2) {
  width: 133px;
}
th:nth-last-of-type(-n+2):hover {
  color: #BBBBBB;
  text-decoration: none;
  cursor: pointer;
}

td:first-of-type {
  cursor: pointer;
  text-decoration: underline;
  width: 60%;
}
td:first-of-type:hover {
  color: #BBBBBB;
  text-decoration: none;
}

.scrollbar {
  overflow-x: hidden;
  overflow-y: auto;
}
.scrollbar::-webkit-scrollbar {
  display: none;
}

#error-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}/*# sourceMappingURL=styles.css.map */