$light-color: #BBBBBB;
$dark-color:#707070;
$button-color: #608FFC;
$button-border:#3469E5;
$button-text: white;
$font: Segoe UI;
$font-size: 26px;
$heading-size: 48px;

html {
    width: 100%;
}

body {
    max-width: 100%;
    overflow-x: hidden;
    font-family: $font, sans-serif;
    font-size: $font-size;
    color: $dark-color;
    margin: 0;
}

// navbar formatējums
.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $button-color;
    padding: 0.5rem 7.5%;
  
    .site-title {
        font-size: 1.5rem;
        color: $button-text;
        text-decoration: none;
    }
  
    ul {
        display: flex;
        flex-direction: row;
        margin: 0;
    
        li {
            list-style: none;
            margin-left: 1rem;
    
            a {
            border-radius: 5px 5px 0px 0px ;
            color: $button-text;
            text-decoration: none;
            padding: 0.5rem;
    
            &:hover {
                color: $button-text;
                background-color: $button-border;
            }
            }
        }
    }
}

// centrē elementu
.center {
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

// index.jsx un rate.jsx galvenā bloka lielums un novietojums
.block-form {
    max-width: 828px;
    width: 50%;
    height: 50%;
    @extend .center;
}

// table.jsx galvenā bloka formatējums
.block-table {
    position: absolute;
    display: block;
    margin: 10px 7.5%;
    width: 85%;
    height: 90%;
}

// virsrakstu formatējums
.heading {
	font-size: $heading-size;
	padding: 0px 0px 0px 32px;
}

// apakšvirsrakstu formatējums
.sub-heading {
    padding: 0px 82px 0px 0px;
}

// formatē tekstu bold un italic
.bold-italic{
	font-weight: bold;
	font-style: italic;
}

// p elementa formatējums
p {
    margin: 24px 0px;
}

// formatējums div, kas ietver ievades laukus
.input-block {
	display: flex;
	width: 100%;
	min-width: 400px;
	height: 48px;
	margin: 24px 0px;
    justify-content: space-between;
    align-items: center;
}
// input un textarea formatējums
button[type=submit],input, textarea {
    display: inline-flex;
	box-sizing: border-box;
	padding: 0px 0px 0px 12px;
	margin: 12px;
	height: 100%;
	width: 100%;
	font-family: $font;
	font-size: $font-size;
	border-radius: 7px;
	border-width: 2px;
    border-color: $dark-color;
}

// formatējums div, kas ietver vērtējuma ievades lauku
.rating-input {
    width: 72px;
    padding: 2%;
    text-align: center;
}

// vērtējuma ievades lauka formatējums
.rating {
    justify-content: left;
    min-width: none;
    width: 90%;
}

// Ievadlauku placeholder formatējums
input::placeholder, textarea::placeholder {
    font: $font-size $font;
    color: $light-color;
}

// noņem bultiņas no number input lauka
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}
input[type=number] {
    -moz-appearance:textfield; /* Firefox */
}

// idejas apraksta ievadlauka formatējums
.description {
    height: 192px;
    text-align: start;
}

// pogu formatējums
input[type=submit],input[type=button],button[type=submit]{
    width: 208px;
    min-width: 124px;
	padding: 0px 0px 0px 0px;
	justify-content: center;
	color: $button-text;
	background-color: $button-color;
	border-color: $button-border;
    cursor: pointer;
}

//formatējums neredzamam popup logam
.popup-screen {
    z-index: 99999;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba($color: #ffffff, $alpha: 0.1);
    backdrop-filter: blur(20px);
    width: 102%;
    height: 100%;
    visibility: hidden;
}

// klase kas padara popup logu redzamu
.visible {
    visibility: visible;
}

// klase, kas ļauj sarindot elementus vienā rindā
.icon-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

// "x" pogas formatējums
.cross {
    height: 34px;
    position: relative;
    cursor: pointer;
    margin-left: auto;
}

// ikonu formatējums
.icon {
    height: 38px;
    position: relative;
    cursor: pointer;
}

// ievieto atstarpi starp input laukiem table.jsx
.table-input{
    margin: 0%;
    &:first-of-type {
        margin-right: 12px;
    }
}

// tabulas līniju formatējums
$table-border: 2px solid $dark-color;

// tabulas formatējums
table {
    table-layout: fixed;
    border: $table-border;
    border-color: $dark-color;
    border-collapse: collapse;
    border-spacing: 0;
    height: 48px;
    width: 100%;
}

// tabulas header un datu formatējums
td, th{
    padding: 6px 16px;
}

// novieto līniju zem pirmās tabulas rindas
th {
    text-align: left;
    font-weight: bolder;
    border-bottom: $table-border;
    user-select: none;
    &:nth-of-type(1) {
        width: 50%;
    }
    &:nth-last-of-type(-n+2) {
        width: 133px;
        &:hover {
            color: $light-color;
            text-decoration: none;
            cursor: pointer;
        }
    }
}


// tabulas ideju rindas formatējums
td {
    &:first-of-type {
        cursor: pointer;
        text-decoration: underline;
        width: 60%;
        &:hover {
            color: $light-color;
            text-decoration: none;
        }
    }
}

.scrollbar {
    &::-webkit-scrollbar {
        display: none;
    }
    overflow-x: hidden;
    overflow-y: auto;
}

// error lapa
#error-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}